/* Page Dang Nhap */
#login-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/DangNhap/login_bg.png");
}

#notification-count{
  width: 20%;
  margin-left: 0;
  
}

.row{
  display: flex;
  overflow: hidden;
}

#info-description{
  margin-left: 0px;
}

.article-general{
  display:block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  width: 100%;
}

/* .article-container{
  
} */

@media only screen and (max-width: 769px) {
  #login-background {
    display: none;
  }
  
}
@media only screen and (max-height: 769px) {
  #login-background {
    display: none;
  }
}
